[Unit]
Description=Enable PCIe Autosuspend (Graphical Session)
After=graphical.target
Wants=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-pci-autosuspend.sh

[Install]
WantedBy=graphical.target

