polkit.addRule(function(action, subject) {
    if (
        subject.isInGroup("storage") &&
        (
            action.id == "org.freedesktop.udisks2.filesystem-mount" ||
            action.id == "org.freedesktop.udisks2.filesystem-mount-system" ||
            action.id == "org.freedesktop.udisks2.encrypted-unlock" ||
            action.id == "org.freedesktop.udisks2.encrypted-unlock-system"
        )
    ) {
        return polkit.Result.YES;
    }
});
